<div class="excursion-list-wrapper">
	<div class="card" ng-repeat="item in main.excursions">
		<div class="img-wrapper">
			<img src="./images/excursions/4XfCDAb0QN8.310x310.jpg">
		</div>
		<p class="excursion-date"> 16 марта 2017</p>
		<p class="excursion-name">{{item.name}}</p>
		<div class="excursion-details">
			<p>
				<span class="excursion-duration">{{item.duration}}</span>
				<span class="excursion-type"> {{item.type}}</span>
			</p>
			<span class="excursion-price">{{item.price}} Р</span>
			<button ng-click="main.goToDetails(item)">Подробнее</button>
		</div>
	</div>
</div>

<!--
<div class="excursion-list-wrapper">
	<div class="card">
		<div class="img-wrapper">
			<img src="./images/excursions/4XfCDAb0QN8.310x310.jpg">
		</div>
		<p class="excursion-date"> 16 марта 2017</p>
		<p class="excursion-name">Чаепитие на крыше</p>
		<div class="excursion-details">
				<span class="excursion-duration"> 1 час</span>
				<span class="excursion-type"> Пешеходная</span>
				<span class="excursion-price">1000 P</span>
				<button>Подробнее</button>
		</div>
	</div>
	<div class="card">
		<div class="img-wrapper">
			<img src="./images/excursions/135.310x310.jpg">
		</div>
		<p class="excursion-date"> 16 марта 2017</p>
		<p class="excursion-name">Чаепитие на крыше</p>
		<div class="excursion-details">
				<span class="excursion-duration"> 1 час</span>
				<span class="excursion-type"> Пешеходная</span>
				<span class="excursion-price">1000 P</span>
				<button>Подробнее</button>
		</div>
	</div>
	<div class="card">
		<div class="img-wrapper">
			<img src="./images/excursions/DIM_7273.310x310.jpg">
		</div>
		<p class="excursion-date"> 16 марта 2017</p>
		<p class="excursion-name">Чаепитие на крыше</p>
		<div class="excursion-details">
				<span class="excursion-duration"> 1 час</span>
				<span class="excursion-type"> Пешеходная</span>
				<span class="excursion-price">1000 P</span>
				<button>Подробнее</button>
		</div>
	</div>
</div>-->